@import "/node_modules/nhsuk-frontend/dist/nhsuk.css";

/* imported styles for site-indicator, based on https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/192*/
.site-indicator {
  border-top: 10px solid #aeb7bd;
  border-bottom: 1px solid #aeb7bd;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-indicator__container {
  background-color: #fff;
  max-width: 100%;
}

.site-indicator__navigation {
  flex-shrink: 0;
}

.site-indicator__nav-links {
  list-style-type: none;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .site-indicator__nav-links {
    padding-left: 0;
    width: 100%;
  }
}

.site-indicator__item {
  display: inline-block;
  margin-bottom: 0;
  flex-shrink: 1;
}

.site-indicator__item:first-of-type {
  padding-left:32px;
}


@media (max-width: 768px) {
  .site-indicator__item {
    display: block;
  }
}

.site-indicator__content, .site-indicator__link {
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 16px 8px;
  text-decoration: none;
}

.site-indicator__link:hover:not(:focus) {
  border-bottom: 4px solid #d8dde0;
}

@media (max-width: 768px) {
  .site-indicator__link {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .site-indicator {
    display: block;
  }
}

/*Custom styles*/

.asa-button-message {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nhsuk-button--link {
  background: none;
  border: none;
  padding-top: 5px;
  padding-left: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1875rem;
}

.nhsuk-button--link:disabled, .nhs-button--link:disabled:hover {
  text-decoration: line-through !important;
}

.nhsuk-button--link:hover, .nhsuk-header__transactional .header__user-control-link:hover {
  text-decoration:none;
}

.nhsuk-button--link:focus, .nhsuk-header__transactional .header__user-control-link:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid transparent;
}

/*NHS Frontend Overrides*/

.nhsuk-back-link__link:active, .nhsuk-back-link__link:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
} 

.nhsuk-table__body th {
  border-bottom: 0;
  padding-bottom: 0;
}

.nhsuk-header__container {
  max-width: 100%;
  margin: 0 32px;
}

.nhsuk-logo__background {
  outline-style: none;
}

.nhsuk-header__logo .nhsuk-header__link:hover {
  border:none;
}

.nhsuk-header__navigation-link.active {
  font-weight:bold;
}

.nhsuk-header__transactional .header__content {
  margin-left:auto;
}

.nhsuk-header__transactional .header__user-control-list {
  display:flex;
  column-gap: 2rem;
  list-style:none;
  padding-top:3px;
  align-items: baseline;
}

.nhsuk-header__transactional .header__user-control-item {
  color: #fff;
}

.nhsuk-header__transactional .header__user-control-link {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1875rem;
}

.nhsuk-table__body > tr > td {
  vertical-align: middle;
}

.nhsuk-checkboxes__item {
  margin-bottom: 0;
  min-height: 30px;
  padding: 0 0 4px 30px;
}

.nhsuk-checkboxes__label {
  padding-top:0;
}

.nhsuk-checkboxes__input+.nhsuk-checkboxes__label::before,
.nhsuk-checkboxes__input {
  height: 30px;
  width: 30px;
}

.nhsuk-checkboxes__input+.nhsuk-checkboxes__label::after {
  height: 9px;
  left: 6px;
  top: 9px;
  width: 18px;
}

td > .nhsuk-checkboxes__item > label {
  padding:0;
}

.nhsuk-back-link__link .nhsuk-icon__chevron-right {
  transform:rotate(180deg);
  height: 24px;
  position: absolute;
  width: 24px;
}

.nhsuk-back-link__link:hover .nhsuk-icon {
  fill: #7c2855;  
}

.nhsuk-back-link__link:focus .nhsuk-icon {
  fill: #212b32;  
}

.nhsuk-back-link__link .nhsuk-icon {
  top: 0;
}

/* react-big-calendar overrides */

.rbc-event .rbc-event-label {
  display:none;
}

.rbc-allday-cell {
  display: none;
}