trigger:
  branches:
    include:
      - release/*

pool:
  vmImage: "ubuntu-latest"

retention:
  days: 42            # keep builds for 6 weeks
  minimumToKeep: 1    # always keep at least one build
  branches:
    include:
      - release/*

variables:
  prBuildServiceConnectionName: "nbs-myacicd-rg-int"
  prDockerServiceConnectionName: "nbs-mya-container-registry-sc"

parameters:
  - name: environments
    type: object
    default: ["int", "stag", "prod"]
    values: ["int", "stag", "prod", "pen", "perf"]

stages:
  - template: scripts/pipeline-templates/build.yml
    parameters:
      prBuildServiceConnectionName: $(prBuildServiceConnectionName)
      prDockerServiceConnectionName: $(prDockerServiceConnectionName)

  - ${{ each env in parameters.environments }}:
      - template: scripts/pipeline-templates/deploy.yml
        parameters:
          env: ${{env}}
          variable_group: nbs-mya-${{env}}
          httpFunctionAppName: nbs-mya-func-${{env}}-uks
          highLoadFunctionAppName: nbs-mya-hlfunc-${{env}}-uks
          serviceBusFunctionAppName: nbs-mya-sbfunc-${{env}}-uks
          timerFunctionAppName: nbs-mya-timerfunc-${{env}}-uks
          webServerName: nbs-mya-app-${{env}}-uks
          cosmosAccountName: nbs-mya-cdb-${{env}}-uks
          ${{ if eq(env, 'perf') }}:
            key_vault_variable_group: covid19bookingkvstaguks
          ${{ else }}:
            key_vault_variable_group: covid19bookingkv${{env}}uks
          ${{ if eq(env, 'pen') }}:
            resourceGroup: nbs-mya-rg-${{env}}-uks
            serviceConnectionName: nhsuk-mya-nonprod
          ${{ elseif eq(env, 'perf') }}:
            resourceGroup: nbs-mya${{env}}-rg-stag-uks
            serviceConnectionName: nbs-mya${{env}}-rg-stag
          ${{ else }}:
            resourceGroup: nbs-mya-rg-${{env}}-uks
            serviceConnectionName: nbs-mya-rg-${{env}}
          isHotfix: false
