services:
  next-app:
    container_name: next-app
    build:
      context: src/client/
      dockerfile: web.Dockerfile

    environment:
      NBS_API_BASE_URL: http://api:80
      AUTH_HOST: http://localhost:7071
      CLIENT_BASE_PATH: /manage-your-appointments
      BUILD_NUMBER: ${BUILD_NUMBER:-local}

    volumes:
      - ./src/client/src:/app/src
      - ./src/client/public:/app/public
    restart: always
    ports:
      - 3000:3000

  api:
    container_name: api
    build:
      context: src/api/
      dockerfile: api.Dockerfile
    ports:
      - 7071:80
    environment:
      - AzureWebJobsStorage="UseDevelopmentStorage=true"
      - AzureWebJobs.NotifyUserRolesChanged.Disabled=true
      - AzureWebJobs.NotifyOktaUserRolesChanged.Disabled=true
      - AzureWebJobs.NotifyBookingMade.Disabled=true
      - AzureWebJobs.NotifyBookingRescheduled.Disabled=true
      - AzureWebJobs.NotifyBookingCancelled.Disabled=true
      - AzureWebJobs.SendBookingReminders.Disabled=true
      - AzureWebJobs.NotifyBookingReminder.Disabled=true
      - AzureWebJobs.AggregateDailySiteSummary.Disabled=true
      - AzureWebJobs.RemoveUnconfirmedProvisionalBookings.Disabled=true
      - FUNCTIONS_WORKER_RUNTIME=dotnet-isolated
      - COSMOS_ENDPOINT=${COSMOS_ENDPOINT:-https://host.docker.internal:8081}
      - COSMOS_TOKEN=${COSMOS_TOKEN:-C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==}
      - COSMOS_IGNORE_SSL_CERT=true
      - APP_CONFIG_CONNECTION=${APP_CONFIG_CONNECTION:-local}
      - LEASE_MANAGER_CONNECTION=local
      - Auth__Providers__0__Name=nhs-mail
      - Auth__Providers__0__Issuer=http://oidc-server
      - Auth__Providers__0__AuthorizeUri=http://localhost:8020/connect/authorize
      - Auth__Providers__0__TokenUri=http://oidc-server/connect/token
      - Auth__Providers__0__JwksUri=http://oidc-server/.well-known/openid-configuration/jwks
      - Auth__Providers__0__ChallengePhrase=ThisIsntRandomButItNeedsToBe43CharactersLong
      - Auth__Providers__0__ClientId=nhs-appts-local
      - Auth__Providers__0__ReturnUri=http://localhost:7071/api/auth-return?provider=nhs-mail
      - Auth__Providers__0__ClientCodeExchangeUri=http://localhost:3000/manage-your-appointments/auth/set-cookie?provider=nhs-mail
      - Auth__Providers__1__Name=okta
      - Auth__Providers__1__Issuer=https://dev-08802788.okta.com
      - Auth__Providers__1__AuthorizeUri=https://dev-08802788.okta.com/oauth2/v1/authorize
      - Auth__Providers__1__TokenUri=https://dev-08802788.okta.com/oauth2/v1/token
      - Auth__Providers__1__JwksUri=https://dev-08802788.okta.com/oauth2/v1/keys
      - Auth__Providers__1__ChallengePhrase=ThisIsntRandomButItNeedsToBe43CharactersLong
      - Auth__Providers__1__ClientId=0oamv7oihgsHveIZm5d7
      - Auth__Providers__1__ReturnUri=http://localhost:7071/api/auth-return?provider=okta
      - Auth__Providers__1__ClientCodeExchangeUri=http://localhost:3000/manage-your-appointments/auth/set-cookie?provider=okta
      - Auth__Providers__1__RequiresStateForAuthorize=true
      - Auth__Providers__1__ClientSecret=local
      - Okta__Domain=https://local.okta.com
      - Okta__ManagementId=local
      - Okta__PrivateKeyKid=local
      - Okta__PEM=local
      - Notifications_Provider=local
      - BookingRemindersCronSchedule=0 0 8 * * *
      - UnconfirmedProvisionalBookingsCronSchedule=*/5 * * * *
      - SPLUNK_HOST_URL=http://splunk:8088/services/collector/raw
      - SPLUNK_HEC_TOKEN=e2c421cf-9228-4ab2-a6e8-877741df569a
      - SITE_SUMMARY_DAYS_FORWARD=30,
      - SITE_SUMMARY_REPORT_NAME=daily-site-summary,
      - SITE_SUMMARY_FIRST_RUN_DATE=2025-02-01

  splunk:
    image: splunk/splunk:latest
    container_name: splunk
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=Password1!
      - SPLUNK_HEC_SSL=false
    ports:
      - "8000:8000" # Splunk Web UI
      - "8088:8088" # Splunk HEC
    volumes:
      - splunk-data:/opt/splunk/var

  oidc-server:
    image: soluto/oidc-server-mock:latest
    ports:
      - "8010:443"
      - "8020:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: https://+:443;http://+80
      ASPNETCORE_HTTPS_PORT: 8010
      ASPNETCORE_Kestrel__Certificates__Default__Password: password
      ASPNETCORE_Kestrel__Certificates__Default__Path: /https/aspnetapp.pfx
      AUTHENTICATION:ISSUER: https://localhost:8010
      SERVER_OPTIONS_INLINE: |
        {
          "Authentication": {
            "CookieSameSiteMode": "Lax",
            "CheckSessionCookieSameSiteMode": "Lax"
          }
        }
      USERS_CONFIGURATION_PATH: /tmp/config/users.json
      CLIENTS_CONFIGURATION_PATH: /tmp/config/config.json

    volumes:
      - ./mock-oidc:/tmp/config:ro
      - ${PFX_CERT_PATH:-~/.aspnet/https}:/https:ro

volumes:
  splunk-data:
