.nhsuk-header-custom__user-controls {
  position: relative;
  text-align: right;
}

.nhsuk-header-custom__user-control {
  background: none;
  border: 0;
  color: #fff;
  text-decoration: none;
  font-size: 1.1875rem;
  padding-right: 16px;
  line-height: normal;
}

@media (max-width: 40.0625em) {
  .nhsuk-header-custom__user-control {
    font-size: 1.1875rem;
  }
}

.nhsuk-header-custom__user-control-link {
  cursor: pointer;
  padding-inline-start: inherit;
  padding-inline-end: inherit;
  padding-block-start: inherit;
  padding-block-end: inherit;
}

.nhsuk-header-custom__user-control-link:hover {
  box-shadow: 'none';
  text-decoration: underline;
}

.nhsuk-header-custom__user-control-wrap {
  text-align: left;
}

@media (min-width: 40.0625em) {
  .nhsuk-header-custom__user-control-wrap {
    display: flex;
    text-align: right;
  }
}

@media (max-width: 40.0525em) {
  .nhsuk-header-custom__user-control-wrap::after {
    display: block;
    text-align: left;
  }
}

.nhsuk-warning-callout-custom {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 16px;
  background-color: #fff9c4;
  color: #212b32;
  border: 1px solid #ffeb3b;
}

.nhsuk-warning-callout-custom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nhsuk-warning-callout-custom__close-button {
  border: 0;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  line-height: normal;
  font-size: 1rem;
}

.nhsuk-time-input-custom {
  font-size: 0; /* 1 */
}

.nhsuk-time-input-custom::after {
  clear: both;
  content: '';
  display: block;
}

.nhsuk-time-input-custom__item {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 8px;
}

.nhsuk-time-input-custom__input {
  margin-bottom: 0;
}
