@media print {
  @page {
    size: A4 portait;
    margin: 0.1in;
  }

  .no-print {
    display: none;
  }

  .no-print.has-printable-children {
    display: block;
    visibility: hidden;
    position: relative;
  }

  .no-print.has-printable-children .always-print {
    visibility: visible !important;
    display: block !important;
  }

  .always-print .no-print,
  .no-print.has-printable-children .always-print .no-print {
    display: none !important;
  }

  .no-print.has-printable-children .always-print * {
    visibility: visible !important;
    display: block !important;
  }

  .no-print.has-printable-children .always-print table {
    display: table !important;
  }

  .no-print.has-printable-children .always-print thead {
    display: table-header-group !important;
  }

  .no-print.has-printable-children .always-print tbody {
    display: table-row-group !important;
  }

  .no-print.has-printable-children .always-print tr {
    display: table-row !important;
  }

  .no-print.has-printable-children .always-print th,
  .no-print.has-printable-children .always-print td {
    display: table-cell !important;
  }
}

.custom-print-button-wrapper {
  text-align: right;
}

@media (max-width: 48.0525em) {
  .no-print.has-printable-children .always-print thead {
    position: relative !important;
    display: table-header-group !important;
    clip: unset !important;
    clip-path: none !important;
    clip-path: none !important;
  }

  .no-print.has-printable-children .always-print td {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .custom-print-button-wrapper {
    text-align: left;
  }
}

.print-out-data {
  display: none;
}

@media print {
  .print-out-data {
    display: block;
  }
}
