/*colours taken from warning callout*/
.user-notification {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-block-size: 3rem;
    border-inline-start: 3px solid #ffeb3b;
    background-color: #fff9c4;
    margin-bottom: 48px;
}

.user-notification::before {
    border-color: #ffeb3b;
    position: absolute;
    box-sizing: border-box;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    block-size: 100%;
    content: "";
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    pointer-events: none;
}

.user-notification__content {
    display: flex;
    flex-grow: 1;
    align-items:center;
    margin: 1rem;
}

.user-notification__close {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 1rem;
    font-size: 1rem;
}

.user-notification__close:hover {
    text-decoration: none;
}
